body {
    background-color: black;
}

.banner-img {
    width: 100%;
    z-index: 0;
}

.banner {
    width: 100%;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}
.banner h1 {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
    animation-delay: 1s;
}